body{
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
#header{
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration-line: underline;
    color: #070F18;
    margin-top: 40px;
    margin-bottom: 40px;
}
#menu{
    text-align: right;
    margin-top: 49px;
}
#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline-block;
    margin-left: 20px;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #070F18;
}
a{
    color:#070F18;
    text-decoration: none;
}
#buttoncta{
    background-color: #1f7ccf;
    border-radius: 50px;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
}
p.gray{
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px; 
    color: #575455;
}
#headercta h1{
    font-family: poppins;
    font-style: normal;
    font-weight:bold;
    font-size: 45px;
}
#headerimg{
    margin-left: 42px;
}
#headerimg img{
    border-radius: 5%;
    width: 100%;
}
.headerLogo{
    text-align: center;
}
.headerLogo img{
    width: 30%;
    margin-top: 0px;
}
#clients{
    margin-top: 30px;
    margin-bottom: 50px;
}
#headerClientText{
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; 
    color: #575455;
    margin-top: 15px;
    margin-bottom: 50px;
}
h2.red{
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px; 
    color: #F75C4E;
}
h1.black{
    font-family: poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px; 
    margin-top: 0;
    color: #000000;
}
.textCenter{
    text-align: center;
    font-size: xx-large;
}
i{
    margin-top: 15px;
    margin-bottom: 30px;
}
#consultoria .fa-solid{
    color: #1f7ccf;
}
#email .fa-solid{
    color: #F75C4E;
}
#site .fa-solid{
    color: #eb8d09e3;
}
#services .textCenter h3{
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px; 
    text-align: center;
    margin-top: 0;
    color: #000000;  
}
#contactImg img{
    width: 93%;
    border-radius: 5%;
}
#contactForm{
    margin-left: 75px;
    text-align: left;
}
#contact{
    margin-top: 100px;
}
#services{
    text-align: center;
}
#contactForm input{
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px; 
    color: #575455;
    background-color: #f5f6fb;
    border-radius: 50px;
    border: 0;
    width: 70%;
    padding: 15px 25px 15px 25px;
}
#contactForm button{
    background-color: #1f7ccf;
    border-radius: 50px;
    font-family: poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 25px 10px 25px;
    border: 0;
}
#portfolioTitle{
    margin-top: 110px;
}
.portfolioImg img{
    width: 340px;
    height: 225px;
    border-radius: 5%;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
}
.portfolioImg{
    display:grid;
    grid-template-columns:auto auto auto;
}